html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}
* {
  box-sizing: border-box;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  .side-bar {
    @apply bg-slate-700 w-24 flex flex-col h-32 justify-center align-middle items-center  fixed top-1/2 -left-20 hover:translate-x-20 duration-300 hover:ease-in-out rounded-r-lg text-sm shadow-2xl;
  }
  .side-bar > * {
    @apply p-3 text-stone-300 px-7;
  }
}
